* {
  margin: 0;
  padding: 0;
}
body {
  width: 1000px;
  margin: 50px auto;
  background-color: #e4e4e4;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.section {
  float: left;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 50px 50px 300px rgba(0, 0, 0, 0.25);
}
.container {
  padding: 20px 100px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.header {
  background-image: url(../images/Cappuccino-Drink.jpg);
  background-size: 100%;
  height: 500px;
  border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0 0;
  -moz-border-radius: 25px 25px 0 0;
  -ms-border-radius: 25px 25px 0 0;
  -o-border-radius: 25px 25px 0 0;
}
.logo {
  float: left;
  font-size: 25px;
  font-weight: 700;
}
.logo a {
  color: #ffffff;
  text-decoration: none;
}
.nav{
  float: left;
  margin-left: 200px;
}
.nav li {
  float: left;
  list-style: none;
  margin-left: 20px;
}
.header .nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  text-shadow: 0 0 5px #000000;
}
.toplinks {
  float: right;
}
.toplinks li {
  float: left;
  list-style: none;
  margin-left: 20px;
}
.toplinks .fab {
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
}
.product {
  margin-top: 5%;
}
.product h4 {
  opacity: 0.5;
  text-transform: uppercase;
  line-height: 3;
}
.product h3 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
}
.product p {
  line-height: 1.5;
  opacity: 0.75;
}
.product a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFCB83;
  line-height: 4;
}
.left {
  float: left;
  width: 30%;
  margin-right: 5%;
}
.left img {
  max-width: 100%;
}
.right {
  float: right;
  width: 30%;
  margin-left: 5%;
}
.right img {
  max-width: 100%;
}
.center {
  float: left;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.center img {
  max-width: 100%;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -ms-border-radius: 0 0 25px 25px;
  -o-border-radius: 0 0 25px 25px;
}
.footer .nav {
  margin-left: 33%;
}
.footer .nav a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
.bottomlinks {
  text-decoration: none;
  margin-left: 30%;
}
.bottomlinks ul{
  justify-content: center;
}
.bottomlinks li {
  float: left;
  list-style: none;
  margin-left: 20px;
  display: inline-block;
}
.bottomlinks .fab {
  color: #000000;
}