body {
    font-family: "Josefin Sans", sans-serif;
}

h3 {
    color: magenta;
    text-decoration: underline;
    font-style: italic;
}

hr {
    border-bottom: 1px solid magenta;
}

p {
    font-weight: normal;
    text
}